.walkthrough-highlighted {
    background: #FEFFB2 !important;
}

.walkthough__highlight {
    position: absolute;

    &.walkthrough__highlight--underline {
        svg {
            width: 100%;
            height: 100%;

            path {
                fill: none;
                stroke: #F00;
            }
        }
    }
    &.walkthrough__highlight--solo {
        .solo-darken {
            position: fixed;
            background: rgba(#000, 0.5);
            animation: 0.15s helpDeskFadeIn;
        }
    }
}

@keyframes helpDeskFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
