@import "variables";

.walkthrough-wrapper {
    display: none;
    position: fixed;
    z-index: 20000;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    pointer-events: none;

    &__active {
        display: block;
    }
}

.walkthrough-highlighted {
    background: #FEFFB2 !important;
}

.walkthough__highlight {
    position: absolute;

    &.walkthrough__highlight--underline {
        svg {
            width: 100%;
            height: 100%;

            path {
                fill: none;
                stroke: #F00;
            }
        }
    }
    &.walkthrough__highlight--solo {
        .solo-darken {
            position: fixed;
            background: rgba(#000, 0.5);
            animation: 0.15s helpDeskFadeIn;
        }
    }
}

@keyframes helpDeskFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.walkthrough-popover {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: $help-desk-border-radius;
    background: $walkthrough-popover-background;
    color: $walkthrough-popover-color;
    pointer-events: all;
    animation: 0.4s zoomIn;
    animation-fill-mode: both;

    button {
        border: none;
        outline: none;
        background: none;
    }
}

.walkthrough-popover__option {
    display: flex;
    align-items: center;
    min-width: 200px;
    padding: 15px;
    text-align: left;

    svg {
        width: 32px;
        height: 32px;
        margin-right: 10px;
    }
}

.walkthrough-popover__close {
    opacity: 0.6;
    position: absolute;
    top: 3px;
    right: 3px;
    transition: opacity 0.2s ease-in-out;

    &:hover, &:focus {
        opacity: 0.8;
    }

    svg {
        width: 11px;
        height: 11px;
    }
}

.walkthrough-popover__title {
    max-width: 300px;
    margin: 0;
    font-size: 18px;
}

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
        opacity: 1;
    }
}

.walkthrough-player {
    display: flex;
    align-items: center;
    position: absolute;
    left: 30px;
    bottom: 0;
    width: 320px;
    height: 45px;
    padding: 10px 15px;
    border-top-left-radius: $help-desk-border-radius;
    border-top-right-radius: $help-desk-border-radius;
    box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.1);
    background: $walkthrough-player-background;
    color: $walkthrough-player-color;
    pointer-events: all;
    animation-fill-mode: both;

    &.entering {
        animation: 0.2s helpDeskSlideInUp;
    }
    &.exiting {
        animation: 0.2s helpDeskSlideOutDown;
    }

    &.loading {
        .walkthrough-player__btn svg {
            animation: 1.5s linear helpDeskSpin infinite;
        }
    }
}

.walkthrough-player__btn {
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    background: none;

    svg {
        width: 20px;
        height: 20px;
    }
}

.walkthrough-player__progress {
    flex: 1;
    height: 4px;
    margin-left: 8px;
    background: rgba(#000, 0.05);
}

.walkthrough-player__progress-bar {
    height: 4px;
    background: $help-desk-menu-background;
}

@keyframes helpDeskSlideInUp {
    from {
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}
@keyframes helpDeskSlideOutDown {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        visibility: hidden;
        transform: translate3d(0, 100%, 0);
    }
}
@keyframes helpDeskSpin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
