@import "variables";

.walkthrough-wrapper {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 20000;
    pointer-events: none;

    &__active {
        display: block;
    }
}

.walkthough__highlight {
    position: absolute;
    width: 300px;
    height: 50px;
    border: 5px solid #F00;
}

.walkthrough-popover {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: $help-desk-border-radius;
    background: $walkthrough-popover-background;
    color: $walkthrough-popover-color;
    pointer-events: all;
    animation: 0.4s zoomIn;
    animation-fill-mode: both;

    button {
        display: flex;
        align-items: center;
        min-width: 200px;
        padding: 15px;
        border: none;
        outline: none;
        background: none;
        text-align: left;
    }

    svg {
        width: 32px;
        height: 32px;
        margin-right: 10px;
    }
    .walkthrough-popover__title {
        max-width: 300px;
        margin: 0;
        font-size: 18px;
    }
}

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
        opacity: 1;
    }
}

.walkthrough-player {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 30px;
    padding: 10px;
    background: $walkthrough-player-background;
    color: $walkthrough-player-color;
    pointer-events: all;
    animation-fill-mode: both;

    &.entering {
        animation: 0.2s slideInUp;
    }
    &.exiting {
        animation: 0.2s slideOutDown;
    }

    .walkthrough-player__wrapper {
        max-width: 400px;
        margin: 0 auto;
    }
    .walkthrough-player__btn {
        border: none;
        outline: none;
        background: none;

        svg {
            width: 20px;
            height: 20px;
        }
    }
}

@keyframes slideInUp {
    from {
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}
@keyframes slideOutDown {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        visibility: hidden;
        transform: translate3d(0, 100%, 0);
    }
}
